<div id="content" class="container">
    <p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></p>
    <h1 class="cursive">BeAtS</h1>
    <h2 class="sub"><i class="fa fa-heart" aria-hidden="true"></i></h2>
    <div class="mailing-list">
        <h3 class="mailing-list-heading">Join our member list to know the date!</h3>
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label for="email" class="sr-only"></label>
                    <input type="email" placeholder="ali.benamor@example.com" id="email" class="form-control transparent">
                </div>
                <button class="btn btn-danger">Join BeAtS members</button>
            </form>
        </div>
    </div>
</div>