<% content_for :video_background, "#{asset_path "beats2.mp4"}" %>
<% content_for :css_class, "date-gif" %>
<% content_for :video_class, "centred" %>
<div id="content" class="container">
    <p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></p>
    <div class=" list-new">
		<p><%= current_raver.name %></p>
        <h3 class="mailing-list-heading"><i class="fa fa-heart" style="font-size:50px;"aria-hidden="true"></i><br><br>16 December 2016<br>TUNISIA</h3>
        <div class="row">
        </div>
    </div>
</div>